@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.quote-title {
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 10px 0;
}

.quote-title::before,
.quote-title::after {
  content: "";
  flex-grow: 1;
  margin: 0 10px;
  border: 1px solid #33b59a;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}